<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Topic</key>
		<string>所有的事都由伴侶一方決定，較少有討論的餘地</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我必須向伴侶交代所有的花費、認識的朋友或行蹤</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我的伴侶認為我應該以他的需求為優先，處處配合、迎合他</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我的伴侶很難溝通，讓我情緒不穩定或覺得厭煩</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我覺得已經無法在忍受伴侶的某些行為或表現</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>伴侶會說我醜、肥、低能、無用或沒人要等</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我們會為了穿著、工作、金錢、孩子、家事、彼此的父母等事情吵架</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>伴侶喝酒或吸毒是我們衝突的原因</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>當我們衝突時，有一方會威脅要破壞東西、傷害自己、傷害對方或對方的家人</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我們有一方會出手、推或打傷對方</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我們有一方會在對方極度不願意情況下仍勉強進行性行為</string>
		<key>satus</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Topic</key>
		<string>我的伴侶會以金錢、孩子或其他方式來控制我</string>
		<key>satus</key>
		<string>N</string>
	</dict>
</array>
</plist>
